.father {
    width: 1000px;
    margin: 0 auto;
}

.header {
    background: #d558c9;
}

.header, .nav, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.nav {
    background: #1bdb8b;
}

.content {
    display: flex;
    height: 300px;
    margin-top: 5px;
}

.main {
    background: #db1f50;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside {
    background: cornflowerblue;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background: red;
}